{% extends "layouts/main.html" %}
{% from "components/sidebar_menu_group.jinja" import sidebar_menu_group with context %}


{% block title %}Dungeon - Explore{% endblock %}

{% block search_bar %}{% endblock %}

{% block inner_sidebar_content %}
    {{ sidebar_menu_group(
        header_content='Blogs',
        buttons=[
            {"content": "Topic1", "icon_path": "home.png"},
            {"content": "Topic2", "icon_path": "explore.png"},
            {"content": "Topic3", "icon_path": "study_zone.png"},
            {"content": "Topic4", "icon_path": "community.png"},
            {"content": "Topic5", "icon_path": "projects.png"}
        ]
    ) }}

    {{ sidebar_menu_group(
        header_content='Communities',
        buttons=[
            {"content": "Science", "icon_path": "library.png"},
            {"content": "Philosophy", "icon_path": "library.png"},
            {"content": "Technology", "icon_path": "library.png"},
            {"content": "Work", "icon_path": "library.png"},
        ]
    ) }}
{% endblock %}

{% block main_body %}
    <h1 class="text-yellow-500 font-bold">Some explore inner sidebar buttons</h1>
{% endblock %}
