{% extends "layouts/main.html" %}
{% from "components/sidebar_menu_group.jinja" import sidebar_menu_group with context %}


{% block title %}Dungeon - Explore{% endblock %}

{% block inner_sidebar %}
    {{ sidebar_menu_group(
        header_content='Sections',
        buttons=[
            {"content": "Blogs", "icon_path": "home.png"},
            {"content": "Communities", "icon_path": "explore.png"},
            {"content": "Courses", "icon_path": "study_zone.png"},
            {"content": "Games", "icon_path": "community.png"},
            {"content": "Books", "icon_path": "projects.png"}
        ]
    ) }}

    {{ sidebar_menu_group(
        header_content='Recent',
        buttons=[
            {"content": "Courses", "icon_path": "library.png"}
        ]
    ) }}    
{% endblock %}

{% block main_body %}
    <h1 class="text-yellow-500 font-bold">Some explore inner sidebar buttons</h1>
{% endblock %}
