{% extends "pages/communities/community_layout.html" %}
{% from "components/sidebar_menu_group.jinja" import sidebar_menu_group with context %}
{% from "components/community_banner.jinja" import community_banner with context %}
{% from "components/nav_button.jinja" import nav_button with context %}
{% from "components/action_button.jinja" import action_button with context %}
{% from "components/post_reaction_button.jinja" import post_reaction_button with context %}
{% from "components/dropdown.jinja" import dropdown with context %}
{% from "components/community_feed_filter_dropdown.jinja" import community_feed_filter_dropdown with context %}


{% block title %}Dungeon - {{ community_title }}{% endblock %}

{% block scripts %}
    <script>document.title = 'Dungeon - {{ community_title }}'</script>
    <script src="{{ url_for('static', path='js/dropdown.js') }}" defer></script>
{% endblock %}

{% block main_body_main_content %}
    {# {{ community_banner(
        banner_background_path='example_banner.png',
        community_profile_picture='example_profile_pic.jpg',
        community_title='Analytics',
        community_subtitle='The best, uncontested community for learning, sharing ideas and asking questions related to Mathematics, Physics and Computer Science.'
    ) }} #}

    {{ community_banner(
        banner_background_path='example_banner.png',
        community_profile_picture='example_profile_pic.jpg',
        community_title=community_info.title,
        community_subtitle=community_info.subtitle
    ) }}


    <div class="mt-[1rem] [@media(min-width:480px)]:mt-[2rem] px-[2em] py-[1em] bg-black sticky top-0 flex flex-row justify-stretch items-center gap-[0.75em] border-b-[1px] border-b-gray-800">

        {% for _ in range(3) %}
            {% call community_feed_filter_dropdown(title='Sort By', is_small_compatible=False) %}
                {{ dropdown() }}
            {% endcall %}
        {% endfor %}

        {% call community_feed_filter_dropdown(title='Filters', is_small_compatible=True) %}
            {{ dropdown() }}
        {% endcall %}
    </div>

    {% for community_post in community_posts %}
        <div
            class="
                px-[2em] py-[1em] w-[100%] block
                transition-all duration-[200ms] hover:cursor-pointer hover:bg-gray-900 hover:bg-opacity-25
                border-b-[1px] border-b-gray-800
            "
            onclick="window.location.href = '/communities/{{ community_info.title|lower }}/{{ community_post.id }}'"
        >
            <section class="w-[100%] flex flex-row justify-start items-center gap-[0.5em]">
                <a
                    href="{{ url_for('library') }}"
                    class="
                        text-white h-[3rem] aspect-[1/1] rounded-[50%]
                    "
                    style="
                        background-image: url('{{ url_for('assets', path='explore.png') }}');
                        background-size: 75%;
                        background-position: center;
                        background-repeat: no-repeat;
                    "
                >
                </a>
                <div class="flex-1 flex flex-col justify-start items-start">
                    <span class="text-white text-[1rem] font-bold">{{ community_post.first_name }} {{ community_post.last_name }}</span>
                    <span class="text-white text-[0.75rem] text-gray-500">{{ community_post.username }}</span>
                </div>
            </section>
            <section class="py-[1em] flex flex-col justify-start items-start gap-[1em]">
                <header class="text-white font-bold text-lg sm:text-xl font-roboto">{{ community_post.title }}</header>
                <div class="flex flex-row justify-start items-center gap-[1em] flex-wrap">
                    {% for tag in community_post.tags %}
                        <span
                            class="
                                px-2 py-1 rounded-[1rem] text-white font-inter text-xs font-bold
                            "
                            style="
                                background-color: rgb(65, 59, 255);
                            "
                        >
                            {{ tag }}
                        </span>
                    {% endfor %}
                </div>
                <article
                    class="
                        text-sm text-gray-400 break-words text-wrap line-clamp-5
                    "
                >
                    {{ markdown_to_html(community_post.content) | safe }}
                </article>
            </section>
            <section class="w-[100%] flex flex-row justify-start items-center gap-[1em]">
                {{ post_reaction_button(
                    reaction_name='like',
                    icon_path='like.png',
                    icon_coordinates=('50%', '40%'),
                    reaction_value=community_post.likes
                ) }}
                {{ post_reaction_button(
                    reaction_name='dislike',
                    icon_path='dislike.png',
                    icon_coordinates=('50%', '75%'),
                    reaction_value=community_post.dislikes
                ) }}
            </section>            
        </div>
    {% endfor %}
{% endblock %}
