{% extends "layouts/base.html" %}
{% from "components/sidebar_menu_group.jinja" import sidebar_menu_group with context %}
{% from "components/nav_button.jinja" import nav_button with context %}
{% from "components/search_bar.jinja" import search_bar with context %}

{% block outer_sidebar_content %}
    <div class="w-[50%] aspect-[1/1] h-auto bg-white bg-opacity-50 rounded-[50%]"></div>
    {{ sidebar_menu_group(
        "",
        buttons=[
            {"content": "Home", "icon_path": "home.png", "href": url_for('home')},
            {"content": "Explore", "icon_path": "explore.png", "href": url_for('explore')},
        ]
    ) }}

    {{ sidebar_menu_group(
        "Discovery",
        buttons=[
            {"content": "Library", "icon_path": "library.png", "href": url_for('library')},
            {"content": "Communities", "icon_path": "community.png", "href": url_for('communities')},
            {"content": "University", "icon_path": "university.png", "href": url_for('university')},
            {"content": "MonK", "icon_path": "monk.png", "href": url_for('monk')},
        ]
    ) }}

    {{ sidebar_menu_group(
        "Personal",
        buttons=[
            {"content": "Projects", "icon_path": "projects.png", "href": url_for('projects')},
            {"content": "Storage", "icon_path": "storage.png", "href": url_for('storage')},
            {"content": "Study Zone", "icon_path": "study_zone.png", "href": url_for('study_zone')},
        ]
    ) }}

    {{ sidebar_menu_group(
        "Configuration",
        buttons=[
            {"content": "History", "icon_path": "history.png", "href": url_for('history')},
            {"content": "Help", "icon_path": "help.png", "href": url_for('help')},
            {"content": "Settings", "icon_path": "settings.png", "href": url_for('settings')},
            {"content": "ToS", "icon_path": "tos.png", "href": url_for('tos')},
        ]
    ) }}
{% endblock %}

{% block top_navbar %}
    {{ nav_button(content='', icon_path='menu.png', icon_size='50%', type='circle') }}

    {% block search_bar %}
        {{ search_bar() }}
    {% endblock %}

    <div class="flex-1 hidden [@media(min-width:480px)]:block"></div>
    <div class="h-full w-full flex-[0_0_0] flex flex-row justify-stretch items-center gap-[1em]">
        {{ nav_button(content='', icon_path='chats.png', icon_size='50%', type='circle', class_names='hidden sm:block') }}
        {{ nav_button(content='', icon_path='light_dark_mode.png', icon_size='75%', type='circle', class_names='hidden sm:block') }}
        {{ nav_button(content='', icon_path='language.png', icon_size='50%', type='circle', class_names='hidden sm:block') }}
        {{ nav_button(content='', icon_path='bell.png', icon_size='50%', type='circle', class_names='hidden sm:block') }}
        {{ nav_button(content='', icon_path='example_profile_pic.jpg', icon_size='cover', type='circle', class_names='hidden sm:block border-[2px] border-white') }}
        {{ nav_button(content='', icon_path='triple_dots.png', icon_size='50%', type='circle', class_names='block sm:hidden') }}
    </div>
{% endblock %}