<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}" />
</head>
<body class="bg-black">
    <div class="flex flex-row justify-stretch items-stretch">
        <div class="flex flex-col justify-start items-stretch gap-[2em] h-[100vh] w-[15rem] bg-gray-800 bg-opacity-25 border-r-[1px] border-r-gray-500 p-[2em]">
            <div class="w-[100%] aspect-[1/1] h-auto bg-white bg-opacity-50 rounded-[50%]"></div>
            <section class="w-[100%] border-[1px] border-red-500">
                <header class="text-white font-inter text-xl">Discovery</header>
            </section>
        </div>
        <div class="flex flex-col justify-stretch items-stretch flex-1">
            <div class="h-[4.6875rem] bg-gray-800 bg-opacity-25 border-b-[1px] border-b-gray-500"></div>
            <div class="flex flex-row justify-stretch items-stretch flex-1">
                <div class="h-[100%] w-[15rem] bg-gray-800 bg-opacity-25 border-r-[1px] border-r-gray-500"></div>
                <div class="flex-1"></div>
            </div>
        </div>
    </div>
</body>
</html>