{% from "components/dropdown.jinja" import dropdown with context %}
{% from "components/event_binder.jinja" import event_binder with context %}


{% macro community_feed_filter_dropdown(
    title,
    is_small_compatible=False,
    class_names=None,
    dropdown_id=None,
    events=None
) %}

    {% if not dropdown_id %}
        {% set dropdown_id = generate_uuid() %}
    {% endif %}

    <div
        class="
            {% if not is_small_compatible %}
                hidden [@media(min-width:480px)]:flex 
            {% else %}
                flex [@media(min-width:480px)]:hidden
            {% endif %}

            {{ class_names }}
            flex-col justify-stretch items-start gap-[0.5em]
        "
        id="{{ dropdown_id }}"
    >
        <span class="text-[0.75rem] text-gray-500 font-bold">{{ title }}</span>
        <div class="flex flex-row justify-start items-center">
            {{ caller() }}
        </div>
    </div>

    {{ event_binder(
        selector='#' ~ dropdown_id,
        events=events
    ) }}

{% endmacro %}