{% from "components/event_binder.jinja" import event_binder with context %}

{% macro nav_button(
    content,
    icon_path,
    icon_size='cover',
    type='expand',
    hover=True,
    override_default_class_names=False,
    class_names=None,
    button_id=None,
    events=None,
    href=None
) %}
    {% if type | lower == 'circle' %}
        {% set button_exterior_classes = 'h-[100%] aspect-[1/1] rounded-[50%]' %}
    {% else %}
        {% set button_exterior_classes = 'px-4 py-2.5 w-[100%] flex flex-row justify-start items-center gap-[1em] rounded-[1rem]' %}
    {% endif %}

    {% if not button_id %}
        {% set button_id = generate_uuid() %}
    {% endif %}
    <a
        class="
            {{ class_names }}
            {{ button_exterior_classes }}
            transition-all duration-[200ms]
            {% if outer_sidebar_button_clicked == content | lower %}
            bg-amber-600 bg-opacity-20
            {% endif %}
            {% if hover %}
            hover:bg-opacity-50 cursor-pointer active:duration-[0ms] active:scale-[0.95] overflow-hidden
                {% if outer_sidebar_button_clicked != (content | lower) %}
                hover:bg-gray-900 active:bg-gray-900 
                {% else %}
                hover:bg-amber-800 active:bg-amber-800 active:bg-opacity-50
                {% endif %}
            {% endif %}
            "
        id="{{ button_id }}"
        {% if href %}
        href="{{ href }}"
        {% endif %}
    >
        <div
            class="h-[100%] aspect-[1/1] flex flex-row justify-start items-center rounded-[50%]"
            style="
                background-image: url('{{ url_for('assets', path=icon_path) }}');
                background-size: {{ icon_size }};
                background-position: center;
                background-repeat: no-repeat;
            "
        ></div>

        {% if type | lower  != 'circle' %}
        <div class="flex-1 flex flex-row justify-start items-center">
            <span class="text-white font-inter text-xs">{{ content }}</span>
        </div>
        {% endif %}
    </a>

    {{
        event_binder(
            selector='#' ~ button_id,
            events=events
        )
    }}

{% endmacro %}