{% from "components/nav_button.jinja" import nav_button with context %}

{% macro sidebar_menu_group(
    header_content,
    buttons=None
) %}
    <section class="w-[100%] flex flex-col justify-start items-stretch">
        <header class="mb-[0.5em] text-white font-inter text-[0.6rem] uppercase tracking-wide opacity-70">{{ header_content }}</header>

        {% if not buttons %}
            {% set buttons = [ {"content": "Home", "icon_path": "home.png"} ] %}
        {% endif %}

        {% for button in buttons %}
            {{ nav_button(
                content=button['content'], 
                icon_path=button['icon_path'],
                icon_size=button['icon_size'] | default('cover'),
                events=button['events'] | default(None),
                href=button['href'] | default(None)
            )
            }}
        {% endfor %}

        </section>
{% endmacro %}