{% extends "layouts/main.html" %}
{% from "pages/communities/community_aside.html" import community_aside with context %}


{% block title %}Dungeon - Communities{% endblock %}

{% block scripts %}
    <script>document.title = 'Dungeon - Communities'</script>
{% endblock %}

{% block inner_sidebar_content %}
    {{ sidebar_menu_group(
        header_content='Actions',
        buttons=[
            {"content": "Browse", "icon_path": "light_dark_mode.png"},
            {"content": "Create", "icon_path": "library.png"},
        ]
    ) }}

    {{ sidebar_menu_group(
        header_content='Last Opened',
        buttons=[
            {"content": "Community 1", "icon_path": "home.png"}
        ]
    ) }}

    {{ sidebar_menu_group(
        header_content='Pinned',
        buttons=[
            {"content": "Community 1", "icon_path": "home.png"}
        ]
    ) }}

    {{ sidebar_menu_group(
        header_content='Environments',
        buttons=[
            {"content": "Following", "icon_path": "home.png"},
            {"content": "Creations", "icon_path": "explore.png"},
            {"content": "Starred", "icon_path": "help.png"}
        ]
    ) }}
{% endblock %}

{% block main_body %}

    <div 
        class="
            relative flex-1 min-w-[15rem] border-r border-r-gray-800
            h-[calc(100vh-4.6875rem)]
            overflow-y-auto overflow-x-hidden
            [scrollbar-gutter:stable]
            [scrollbar-width:thin] [scrollbar-color:#555_#111]
            [&::-webkit-scrollbar]:w-[8px]
            [&::-webkit-scrollbar-track]:bg-[#111]
            [&::-webkit-scrollbar-thumb]:bg-[#555]
            [&::-webkit-scrollbar-thumb:hover]:bg-[#666]
            [&::-webkit-scrollbar-button]:hidden
        "
    >

        {% block main_body_main_content %}{% endblock %}

    </div>

    {{  
        community_aside([
            {
                'user_info': {
                    'user_profile_link': 'library',
                    'user_profile_picture': 'explore.png',
                    'user_name': "User's Nickname",
                },
                'metric': 'likes',
                'total': '154.6K',
            }
        ])
    }}
{% endblock %}