{% macro community_aside(top_users=None) %}
    <aside
        class="
            w-[15rem] h-[calc(100vh-4.6875rem)] hidden lg:block
            flex flex-col justify-start items-start scrollbar-hide
            overflow-x-hidden
        "
    >
        <section class="px-[1em] py-[1em] border-b-[1px] border-b-gray-800 flex flex-col justify-start items-start gap-[0.5em]">
            <header class="text-lg font-bold text-gray-300 mb-1">Analytics</header>
            <p class="text-sm text-gray-500">
                This is some paragraph about this community. This is some paragraph about this community.
                This is some paragraph about this community. This is some paragraph about this community.
            </p>
        </section>

        <section class="px-[1em] py-[1em] border-b-[1px] border-b-gray-800 flex flex-col justify-start items-start gap-[0.5em]">
            <button
                class="
                    w-full rounded-[1rem] flex flex-row justify-center items-center
                    py-[0.5em] bg-gray-800  text-white text-sm font-inter transition-all
                    duration-[200ms] hover:bg-gray-500 hover:bg-opacity-25 hover:cursor-pointer
                "
            >
                Guidelines
            </button>
            <button
                class="
                    w-full rounded-[1rem] flex flex-row justify-center items-center
                    py-[0.5em] bg-gray-800  text-white text-sm font-inter transition-all
                    duration-[200ms] hover:bg-gray-500 hover:bg-opacity-25 hover:cursor-pointer
                "
            >
                Analytics
            </button>
        </section>

        <section class="px-[1em] py-[1em] border-b-[1px] border-b-gray-800 flex flex-col justify-start items-start gap-[0.5em]">
            <header class="text-lg font-bold text-gray-300 mb-1">Leaderboard</header>
            <div class="w-full flex flex-row justify-between items-center">
                <button
                    class="
                        text-xs font-bold text-white font-mono p-2 bg-amber-800
                        flex flex-row justify-center items-center rounded-[1rem] 
                        transition-all duration-[200ms] hover:bg-yellow-800 hover:bg-opacity-50
                    "
                >
                    Daily
                </button>
                 <button
                    class="
                        text-xs font-bold text-white font-mono p-2
                        flex flex-row justify-center items-center rounded-[1rem] 
                        transition-all duration-[200ms] hover:bg-gray-500 hover:bg-opacity-25
                    "
                >
                    Weekly
                </button>
                <button
                    class="
                        text-xs font-bold text-white font-mono p-2
                        flex flex-row justify-center items-center rounded-[1rem] 
                        transition-all duration-[200ms] hover:bg-gray-500 hover:bg-opacity-25
                    "
                >
                    Monthly
                </button>
            </div>

            <div class="mt-[1em] w-full h-[2rem] flex flex-row justify-between items-center">
                <span class="text-white text-md font-bold font-[cursive]">Most Likes</span>
                <button
                    class="
                        text-white h-full aspect-[1/1] rounded-[50%] overflow-hidden
                        transition-all duration-[100ms] hover:bg-gray-500 hover:bg-opacity-25
                    "
                    style="
                        background-image: url('{{ url_for('assets', path='grid.png') }}');
                        background-size: 50%;
                        background-position: center;
                        background-repeat: no-repeat;
                    "
                >
                </button>
            </div>

            {% set top_user = top_users[0] %}
            {% set rankings = [ 'one.png', 'two.png', 'three.png', 'four.png', 'five.png', 'six.png', 'seven.png', 'eight.png', 'nine.png', 'ten.png' ] %}

            <div class="relative w-full flex flex-col justify-stretch items-center gap-[1em]">
            {% for rank in rankings %}
                <section
                    class="
                        w-full flex-1 flex flex-row justify-start items-center gap-[0.5em] rounded-[1rem] px-1
                        {# shadow-[0_0_5px_rgb(200,138,4),0_0_10px_rgb(200,138,4),0_0_20px_rgb(200,138,4)] #}
                        transition-all duration-[100ms] hover:bg-gray-500 hover:bg-opacity-25 hover:cursor-pointer
                    "
                >
                    <a
                        href="{{ url_for(top_user['user_info']['user_profile_link']) }}"
                        class="
                            text-white h-[3rem] aspect-[1/1] rounded-[50%]
                            "
                            style="
                                background-image: url('{{ url_for('assets', path=top_user['user_info']['user_profile_picture']) }}');
                                background-size: 75%;
                                background-position: center;
                                background-repeat: no-repeat;
                            "
                        >
                    </a>
                    <div class="flex-1 flex flex-col justify-start items-start">
                        <span class="block text-white text-[0.75rem] font-bold">{{ top_user['user_info']['user_name'] }}</span>
                        <span class="block text-white text-[0.75rem] italic font-mono">{{ top_user['metric']|capitalize }}: {{ top_user['total'] }}</span>
                    </div>
                    <img
                        class="
                            h-[2em] aspect-[1/1]
                        "
                        src="{{ url_for('assets', path=rank) }}"
                    >
                </section>
            {% endfor %}
            </div>
        </section>
    </aside>
{% endmacro %}