{% extends "layouts/main.html" %}
{% from "components/sidebar_menu_group.jinja" import sidebar_menu_group with context %}


{% block title %}Dungeon - Communities{% endblock %}

{% block inner_sidebar_content %}
    {{ sidebar_menu_group(
        header_content='Actions',
        buttons=[
            {"content": "Browse", "icon_path": "light_dark_mode.png"},
            {"content": "Create Community", "icon_path": "library.png"},
        ]
    ) }}

    {{ sidebar_menu_group(
        header_content='Last Opened',
        buttons=[
            {"content": "Community 1", "icon_path": "home.png"}
        ]
    ) }}

    {{ sidebar_menu_group(
        header_content='Pinned',
        buttons=[
            {"content": "Community 1", "icon_path": "home.png"}
        ]
    ) }}

    {{ sidebar_menu_group(
        header_content='Environments',
        buttons=[
            {"content": "Following", "icon_path": "home.png"},
            {"content": "Creations", "icon_path": "explore.png"},
            {"content": "Starred", "icon_path": "help.png"}
        ]
    ) }}
{% endblock %}

{% block main_body %}
    <div 
        class="
            flex-1 min-w-[15rem] border-r-[1px] border-r-gray-800
            h-[calc(100vh-4.6875rem)] overflow-y-auto overflow-x-hidden scrollbar-hide
            "
        >
        <section 
            class="
                pl-[2em] w-[100%] h-[10rem] bg-gray-500
                "
                style="
                    background-image: url('{{ url_for('assets', path='example_banner.png') }}');
                    background-size: cover;
                    background-position: center 70%;
                    background-repeat: no-repeat;
                "
            >
            <div class="h-[100%] flex flex-row justify-start items-center gap-[1em] translate-y-[50%]">
                <div class="
                    h-[75%] aspect-[1/1] overflow-hidden rounded-[50%]
                    border-[5px] border-black transition-all duration-[100ms] hover:cursor-pointer
                    hover:shadow-[0_0_5px_rgb(176,111,255),0_0_10px_rgb(176,111,255),0_0_20px_rgb(176,111,255)]
                    "
                    style="
                        background-image: url('{{ url_for('assets', path='example_profile_pic.jpg') }}');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    "
                ></div>
                <div class="relative top-[2rem] pr-[2em] flex-1">
                    <span class="text-white text-3xl font-bold text-gray-200 leading-[2em]">Analytics</span>
                    <p class="absolute text-gray-400 text-[0.75rem] w-[calc(100%-5em)] break-words text-wrap">
                    The best, uncontested community for learning, sharing ideas and asking questions related to Mathematics, Physics and Computer Science.
                    </p>
                </div>
            </div>
        </section>

        <div class="p-[1em] mt-[10rem] w-[100%] border-[1px] border-red-500">
            
            <a class="w-[100%] flex flex-row justify-start items-center gap-[0.5em] border-[1px] border-red-500">
                <div 
                    class="
                        text-white h-[3rem] aspect-[1/1] rounded-[50%] border-[1px] border-red-500
                        "
                        styles="
                            background-image: url('{{ url_for('assets', path='example_profile_pic.jpg') }}');
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        "
                    >
                </div>
                <div class="flex-1 flex flex-col justify-start items-start">
                    <span class="text-white text-[0.75rem] font-bold">User's Name</span>
                    <span class="text-white text-[0.55rem] text-gray-500">User Nickname</span>
                </div>
            </a>

        </div>

    </div>
    <div class="w-[15rem] hidden lg:block"></div>
{% endblock %}
