{% extends "layouts/main.html" %}
{% from "components/sidebar_menu_group.jinja" import sidebar_menu_group with context %}
{% from "components/community_banner.jinja" import community_banner with context %}
{% from "components/nav_button.jinja" import nav_button with context %}
{% from "components/action_button.jinja" import action_button with context %}
{% from "components/community_feed_filter_dropdown.jinja" import community_feed_filter_dropdown with context %}
{% from "components/post_reaction_button.jinja" import post_reaction_button with context %}


{% block title %}Dungeon - Communities{% endblock %}

{% block inner_sidebar_content %}
    {{ sidebar_menu_group(
        header_content='Actions',
        buttons=[
            {"content": "Browse", "icon_path": "light_dark_mode.png"},
            {"content": "Create", "icon_path": "library.png"},
        ]
    ) }}

    {{ sidebar_menu_group(
        header_content='Last Opened',
        buttons=[
            {"content": "Community 1", "icon_path": "home.png"}
        ]
    ) }}

    {{ sidebar_menu_group(
        header_content='Pinned',
        buttons=[
            {"content": "Community 1", "icon_path": "home.png"}
        ]
    ) }}

    {{ sidebar_menu_group(
        header_content='Environments',
        buttons=[
            {"content": "Following", "icon_path": "home.png"},
            {"content": "Creations", "icon_path": "explore.png"},
            {"content": "Starred", "icon_path": "help.png"}
        ]
    ) }}
{% endblock %}

{% block main_body %}
    <div 
        class="
            relative flex-1 min-w-[15rem] border-r-[1px] border-r-gray-800
            h-[calc(100vh-4.6875rem)] overflow-y-auto overflow-x-hidden scrollbar-hide
            "
        >
        {{ community_banner(
            banner_background_path='example_banner.png',
            community_profile_picture='example_profile_pic.jpg',
            community_name='Analytics',
            community_description='The best, uncontested community for learning, sharing ideas and asking questions related to Mathematics, Physics and Computer Science.'
        ) }}

        <div class="mt-[1rem] [@media(min-width:480px)]:mt-[2rem] px-[2em] py-[1em] flex flex-row justify-stretch items-center gap-[0.75em] border-b-[1px] border-b-gray-800">
            {{ community_feed_filter_dropdown(is_small_compatible=False) }}
            {{ community_feed_filter_dropdown(is_small_compatible=True) }}
        </div>

        {% set community_post = {
            'user_info': {
                'user_profile_link': 'library',
                'user_profile_picture': 'explore.png',
                'user_name': "User's Nickname",
                'user_nickname': "User's Nickname",
            },
            'post_info': {
                'title': "Show that, for all positive integers N, sqrt(N) is an integer or an irrational number. How do I prove this?",
                'tags': [
                    {
                        "name": "Mathematics",
                        "color": "oklch(68.1% 0.162 75.834)",
                    },
                    {
                        "name": "Physics",
                        "color": "red",
                    },
                    {
                        "name": "Computer Science",
                        "color": "purple",
                    },
                ],
                'content': """
                    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. 
        
                    In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. 
                    Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia
                    integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent 
                    per conubia nostra inceptos himenaeos.
                """,
            },
            'post_metadata': {
                'likes': '12.2k',
                'dislikes': '304',
            }
         } %}

        {% for _ in range(10) %}
            <div
                class="
                    px-[2em] py-[1em] w-[100%]
                    transition-all duration-[200ms] hover:cursor-pointer hover:bg-gray-900 hover:bg-opacity-25
                    border-b-[1px] border-b-gray-800
                "
            >
                <section class="w-[100%] flex flex-row justify-start items-center gap-[0.5em]">
                    <a
                        href="{{ url_for(community_post['user_info']['user_profile_link']) }}"
                        class="
                            text-white h-[3rem] aspect-[1/1] rounded-[50%]
                        "
                        style="
                            background-image: url('{{ url_for('assets', path=community_post['user_info']['user_profile_picture']) }}');
                            background-size: 75%;
                            background-position: center;
                            background-repeat: no-repeat;
                        "
                    >
                    </a>
                    <div class="flex-1 flex flex-col justify-start items-start">
                        <span class="text-white text-[1rem] font-bold">{{ community_post['user_info']['user_name'] }}</span>
                        <span class="text-white text-[0.75rem] text-gray-500">{{ community_post['user_info']['user_nickname'] }}</span>
                    </div>
                </section>
                <section class="py-[1em] flex flex-col justify-start items-start gap-[1em]">
                    <header class="text-white font-bold text-lg sm:text-xl font-roboto">{{ community_post['post_info']['title'] }}</header>
                    <div class="flex flex-row justify-start items-center gap-[1em] flex-wrap">
                        {% for tag in community_post['post_info']['tags'] %}
                            <span
                                class="
                                    px-2 py-1 rounded-[1rem] text-white font-inter text-xs font-bold
                                "
                                style="
                                    background-color: {{ tag['color'] }}
                                "
                            >
                                {{ tag['name'] }}
                            </span>
                        {% endfor %}
                    </div>
                    <p
                        class="
                            text-sm text-gray-500 font-sans break-words text-wrap line-clamp-5
                        "
                    >
                        {{ community_post['post_info']['content'] }}
                    </p>
                </section>
                <section class="w-[100%] flex flex-row justify-start items-center gap-[1em]">
                    {{ post_reaction_button(
                        reaction_name='like',
                        icon_path='like.png',
                        icon_coordinates=('50%', '40%'),
                        reaction_value=community_post['post_metadata']['likes']
                    ) }}
                    {{ post_reaction_button(
                        reaction_name='dislike',
                        icon_path='dislike.png',
                        icon_coordinates=('50%', '75%'),
                        reaction_value=community_post['post_metadata']['dislikes']
                    ) }}
                </section>            
            </div>
        {% endfor %}
    </div>

    <div
        class="
            w-[15rem] h-[calc(100vh-4.6875rem)] hidden lg:block
            flex flex-col justify-start items-start
            overflow-y-auto overflow-x-hidden scrollbar-hide
        "
    >
        <section class="px-[1em] py-[1em] border-b-[1px] border-b-gray-800 flex flex-col justify-start items-start gap-[0.5em]">
            <header class="text-lg font-bold text-gray-300 mb-1">Analytics</header>
            <p class="text-sm text-gray-500">
                This is some paragraph about this community. This is some paragraph about this community.
                This is some paragraph about this community. This is some paragraph about this community.
            </p>
        </section>

        <section class="px-[1em] py-[1em] border-b-[1px] border-b-gray-800 flex flex-col justify-start items-start gap-[0.5em]">
            <button
                class="
                    w-full rounded-[1rem] flex flex-row justify-center items-center
                    py-[0.5em] bg-gray-800  text-white text-sm font-inter transition-all
                    duration-[200ms] hover:bg-gray-500 hover:bg-opacity-25 hover:cursor-pointer
                "
            >
                Guidelines
            </button>
            <button
                class="
                    w-full rounded-[1rem] flex flex-row justify-center items-center
                    py-[0.5em] bg-gray-800  text-white text-sm font-inter transition-all
                    duration-[200ms] hover:bg-gray-500 hover:bg-opacity-25 hover:cursor-pointer
                "
            >
                Analytics
            </button>
        </section>

        <section class="px-[1em] py-[1em] border-b-[1px] border-b-gray-800 flex flex-col justify-start items-start gap-[0.5em]">
            <header class="text-lg font-bold text-gray-300 mb-1">Leaderboard</header>
            <div class="w-full flex flex-row justify-between items-center">
                <button
                    class="
                        text-xs font-bold text-white font-mono p-2 bg-amber-800
                        flex flex-row justify-center items-center rounded-[1rem] 
                        transition-all duration-[200ms] hover:bg-yellow-800 hover:bg-opacity-50
                    "
                >
                    Daily
                </button>
                 <button
                    class="
                        text-xs font-bold text-white font-mono p-2
                        flex flex-row justify-center items-center rounded-[1rem] 
                        transition-all duration-[200ms] hover:bg-gray-500 hover:bg-opacity-25
                    "
                >
                    Weekly
                </button>
                <button
                    class="
                        text-xs font-bold text-white font-mono p-2
                        flex flex-row justify-center items-center rounded-[1rem] 
                        transition-all duration-[200ms] hover:bg-gray-500 hover:bg-opacity-25
                    "
                >
                    Monthly
                </button>
            </div>

            <div class="mt-[1em] w-full h-[2rem] flex flex-row justify-between items-center">
                <span class="text-white text-md font-bold font-[cursive]">Most Likes</span>
                <button
                    class="
                        text-white h-full aspect-[1/1] rounded-[50%] overflow-hidden
                        transition-all duration-[100ms] hover:bg-gray-500 hover:bg-opacity-25
                    "
                    style="
                        background-image: url('{{ url_for('assets', path='grid.png') }}');
                        background-size: 50%;
                        background-position: center;
                        background-repeat: no-repeat;
                    "
                >
                </button>
            </div>

            {% set top_user = {
                'user_info': {
                    'user_profile_link': 'library',
                    'user_profile_picture': 'explore.png',
                    'user_name': "User's Nickname",
                },
                'metric': 'likes',
                'total': '154.6K',
            } %}

            {% set rankings = [ 'one.png', 'two.png', 'three.png', 'four.png', 'five.png', 'six.png', 'seven.png', 'eight.png', 'nine.png', 'ten.png' ] %}

            <div class="relative w-full flex flex-col justify-stretch items-center gap-[1em]">
            {% for rank in rankings %}
                <section
                    class="
                        w-full flex-1 flex flex-row justify-start items-center gap-[0.5em] rounded-[1rem] px-1
                        {# shadow-[0_0_5px_rgb(200,138,4),0_0_10px_rgb(200,138,4),0_0_20px_rgb(200,138,4)] #}
                        transition-all duration-[100ms] hover:bg-gray-500 hover:bg-opacity-25 hover:cursor-pointer
                    "
                >
                    <a
                        href="{{ url_for(top_user['user_info']['user_profile_link']) }}"
                        class="
                            text-white h-[3rem] aspect-[1/1] rounded-[50%]
                            "
                            style="
                                background-image: url('{{ url_for('assets', path=top_user['user_info']['user_profile_picture']) }}');
                                background-size: 75%;
                                background-position: center;
                                background-repeat: no-repeat;
                            "
                        >
                    </a>
                    <div class="flex-1 flex flex-col justify-start items-start">
                        <span class="block text-white text-[0.75rem] font-bold">{{ top_user['user_info']['user_name'] }}</span>
                        <span class="block text-white text-[0.75rem] italic font-mono">Likes: {{ top_user['metric']|capitalize }}: {{ top_user['total'] }}</span>
                    </div>
                    <img
                        class="
                            h-[2em] aspect-[1/1]
                        "
                        src="{{ url_for('assets', path=rank) }}"
                    >
                </section>
            {% endfor %}
            </div>
        </section>

    </div>
{% endblock %}
