{% extends "layouts/main.html" %}

{% block inner_sidebar_skeleton %}{% endblock %}

{% block main_body %}
<div 
    class="
        relative flex-1 min-w-[15rem] border-r border-r-gray-800
        h-[calc(100vh-4.6875rem)]
        overflow-y-auto overflow-x-hidden
        [scrollbar-gutter:stable]
        [scrollbar-width:thin] [scrollbar-color:#555_#111]
        [&::-webkit-scrollbar]:w-[8px]
        [&::-webkit-scrollbar-track]:bg-[#111]
        [&::-webkit-scrollbar-thumb]:bg-[#555]
        [&::-webkit-scrollbar-thumb:hover]:bg-[#666]
        [&::-webkit-scrollbar-button]:hidden
    "
>
    <div
        class="
            absolute w-full h-full blur-md brightness-50 z-[-1]
        "
        style="
            background-image: url('https://gifdb.com/images/high/light-trails-wave-background-r4tz04b0l8kqi6do.gif');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        "
    ></div>

    <div class="p-[1.5em] w-full min-h-full flex flex-row justify-center items-center bg-black bg-opacity-50 border-black">
        <div class="p-[1em] max-w-[40rem] flex-1 bg-gray-800 bg-opacity-50 rounded-[2.5rem]">
            <section class="p-[1em] [@media(min-width:480px)]:p-[2em] w-full flex flex-col justify-stretch items-center">
                <header class="font-sans font-bold text-4xl [@media(min-width:480px)]:text-5xl text-white">Login</header>

                <span class="mt-[2em] self-start text-white text-xs">Don't have an account? <a href="/auth/register/" class="underline text-blue-600">Register</a>.</span>
                <form action="/auth/login/" method="post" class="mt-[1em] w-full flex flex-col justify-stretch items-start gap-[0.5em]">
                    <label class="w-full text-white">Username or Email</label>
                    <input
                        type="text"
                        id="username_or_email"
                        name="username_or_email"
                        placeholder="Username or Email..."
                        class="mt-[0.5em] px-[1em] py-[0.5em] w-full rounded-[0.5rem] outline-none text-black"
                    >
                    <span id="username_or_email_error" class="text-xs text-red-500 font-sans">*Error</span>

                    <label class="mt-[1em] w-full text-white">Password</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Password..."
                        class="mt-[0.5em] px-[1em] py-[0.5em] w-full rounded-[0.5rem] outline-none text-black"
                    >
                    <span id="password_error" class="text-xs text-red-500 font-sans">*Error</span>

                    <button type="button" class="w-full mt-[1em] mb-[4px] p-[1em] item-center self-center bg-blue-500 rounded-[1rem] text-gray-200 font-bold shadow-[0px_4px_2px_rgb(0,0,250)] active:shadow-[0px_0px_0px] active:mt-[calc(1em+4px)] active:mb-0">Login</button>
                    <a href="/auth/forget_password" class="mt-[1em] self-center text-sm text-blue-600 hover:underline">Forget password?</a>
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}